<html>

<head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/static/styles/member-detail-page.css" >
</head>

<body>
    <div class="card">
        <div class="view-cascade blue-gradient">
            <h2>Thêm thành viên</h2>
        </div>
        <div class="card-body">
            <% if (errors && errors.length) { %>
            <ul class="error-list">
                <% errors.map(err => { %>
                    <li><%=err %></li>
                <% }) %>
            </ul>
            <% } %>
            <form action="/member-create" method="POST">
                <% if (id != null) { %>
                <input type="hidden" value="<%=id %>" name="id">
                <% } %>
                <label for="txtName">Họ tên</label><br>
                <input type="text" value="<%=member.name %>" name="name" id="txtName" class="form-control"><br>
                <br>
                <label for="txtAge">Tuổi</label><br>
                <input type="number" value="<%=member.age %>" name="age" id="txtAge" class="form-control"><br>
                <br>
                <label for="txtAddr">Địa chỉ</label><br>
                <textarea name="address" id="txtAddr" rows="5" class="form-control"><%=member.address %></textarea><br>
                <br>
                <input type="checkbox" value="graduated" <%=(member.isGraduated ? 'checked' : '') %> name="isGraduated" id="cbGrad">
                <label for="cbGrad" class="label-check">Đã tốt nghiệp</label><br>
                <br>
                <label>Chuyên ngành</label><br>
                <select name="faculty" class="form-control">
                    <option value="">-- Chọn chuyên ngành --</option>
                <% for (let fac of Object.values(Faculty)) {
                    const selected = member.faculty == fac.key ? 'selected' : ''
                %>
                    <option value="<%=fac.key %>" <%=selected %> >
                        <%=fac.label %>
                    </option>
                <% } %>
                </select>
                <br>
                <br>
                <label>Sở thích</label><br>
                <% for (let prop in Hobby) {
                    const hobby = Hobby[prop]
                    const selected = member.hobbies.includes(hobby.key) ? 'checked' : ''
                %>
                    <input type="checkbox" value="<%=hobby.key %>" name="hobbies" id="cb<%=hobby.key%>" <%=selected %> >
                    <label for="cb<%=hobby.key %>" class="label-check">
                        <%=hobby.label %>
                    </label><br>
                <% } %>
                <br>
                <input type="submit" value="Lưu thông tin" class="btn purple-gradient">
                &nbsp;&nbsp;
                <button type="button" onclick="document.location.href = document.location.href" class="btn btn-outline-danger">Làm lại</button>
            </form>
        </div>
        <div class="card-footer">
            <a href="/members">&laquo; Xem danh sách lớp</a>
        </div>
    </div>
</body>

</html>